@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 100rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
a {
  color: #66615b;
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
}

h2 {
  font-weight: 500;
}
