@use "../../styles/mixin" as *;
.nav_wraper {
  line-height: normal;
  display: flex;
  background: #f4f3ef;
  align-items: center;
  height: auto;
  padding: 10px 15px;
  border: 1px solid #ddd;
  justify-content: space-between;

  a {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      color: #37322d;
    }
    @include repond(phone) {
      font-size: 20px;
    }
  }
}
.nav_tools {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  @include repond(phone) {
    gap: 0.5rem;
  }
  .icon {
    cursor: pointer;
    &:hover {
      color: rgb(8, 93, 240);
      font-size: 1.1rem;
    }
    &:active {
      font-size: 1rem;
    }
  }
}
