@use "../../styles/mixin" as *;
.nav_wraper {
  line-height: normal;
  display: flex;
  background: #f4f3ef;
  align-items: center;
  height: auto;
  padding: 10px 15px;
  border: 1px solid #ddd;
  justify-content: space-between;

  a {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      color: #37322d;
    }
    @include repond(phone) {
      font-size: 20px;
    }
  }
}
.nav_tools {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  @include repond(phone) {
    gap: 0.5rem;
  }
  .search {
    @include repond(phone) {
      display: none;
    }
  }
  .icon {
    cursor: pointer;
    &:hover {
      color: rgb(8, 93, 240);
      font-size: 1.1rem;
    }
    &:active {
      font-size: 1rem;
    }
  }
  .btnLogin {
    border: 2px solid rgb(171, 132, 63);
    border-radius: 5px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    &:hover {
      background: rgb(171, 132, 63);
      color: #fff;
    }
  }
}
